mixin FooterList(...items)
  each item in items
    li.mb-3
      a.text-700.text-decoration-none(href='#!')
        =item

mixin Footer
  section.py-0
    +Background({ image: `${CWD}assets/img/illustrations/footer-bg.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover'} }, className: '' })
    .container
      .row.flex-center.py-8.m-5
        .col-lg-6.mb-4.text-center
          h1.text-white Get started now
        .col-lg-6.d-flex.justify-content-lg-end.justify-content-center
          form.row.row-cols-lg-auto.g-0.align-items-center
            .col-9.col-lg-8
              label.visually-hidden(for='colFormLabel') Username
              .input-group
                input#colFormLabel.rounded-end-0.form-control(type='email' placeholder='email address')
            .col-3.col-lg-4
              button.btn.btn-primary.rounded-start-0(type='submit') Submit


      .row.justify-content-lg-between
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.mb-5.text-1000.fw-semi-bold COMPANY 
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('About Us','Team','Careers','Contact')

        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.mb-5.text-1000.fw-semi-bold INVEST 
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Features','How it works','Pricing','Login')
        .col-6.col-sm-4.col-lg-auto.mb-3
          h5.mb-5.text-1000.fw-semi-bold LEGAL 
          ul.list-unstyled.mb-md-4.mb-lg-0
            +FooterList('Privacy','Terms','Security')
        .col-6.col-sm-6.col-sm-4.col-lg-auto.mb-3
          .card.bg-success
            .card-body.px-2.py-2.px-sm-4.py-sm-4
              h5.text-white Blog Zou
              p.mb-0.text-white write email to us
                .text-white.fs--1.fs-sm-1 info@zoufarm.com
              button.btn.btn-light(type='button') Sign In
      hr.text-300  
      .row.justify-content-center
        .col-6   
          a(href='#')
            img.d-inline-block.align-top.img-fluid(src='assets/img/gallery/logo-icon.png' alt='' width='40')
            span.text-theme.font-monospace.fs-3.ps-2 Zou
      
        .col-6  
           p.mb-0.fs--1.text-dark.my-2.text-center &copy; This template is made with&nbsp;
            svg.bi.bi-suit-heart-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='#1F3A63' viewBox='0 0 16 16')
              path(d='M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z')

            |&nbsp;by&nbsp;
            a(href='https://themewagon.com/' target='_blank').text-dark ThemeWagon 
   
        